.header {
  // &-title {
  //   // position: relative;
  // }
  &-note {
    position: relative;
    left: 2rem;
    line-height: 5px;
    font-family: var(--tag);
    color: var(--pink);
  }
}
.selectors {
  margin-top: 10rem;
  display: grid;
  gap: 2rem;
  // grid-template-columns: repeat(2, minmax(40rem, min-content));
  grid-template-columns: repeat(auto-fit, minmax(40rem, min-content));
  //   All Direct children
  // align-items: center;
  justify-content: center;
  & > * {
    background-color: #fff;
    padding: 2rem;
    margin: 2rem 0;
    border: var(--grey-300) 1px solid;
  }
}


// 
  &:not(:last-child) {
    margin-right: 2rem;
  }