<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css" />
    <title>icon svg</title>
  </head>

  <body class="u_widauto">
    <section class="header">
      <div>
        <h1 class="header-title">css explore</h1>
        <p class="header-note">% em vh vw rem</p>
      </div>
      <a href="../index.html">
        <img class="header-icon" src="../img/arrow-right-circle.svg" alt="" />
      </a>
    </section>

    <!-- css explore -->
    <div class="css-explore">
      <p class="css-explore-title">css explore the properties in general</p>
    </div>
  </body>
</html>
