<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>01-flex-basics</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body class="u_widauto">
    <section class="header">
      <div>
        <h1 class="header-title">flexbox</h1>
        <p class="header-note">flexbox properties</p>
      </div>
      <a href="../index.html">
        <img
          class="header-icon"
          src="../img/arrow-right-circle.svg"
          alt=""
        />
      </a>
    </section>

    <article class="layout-props">
      <div class="note-1"><img src="../img/disp-flex.JPG" alt=""></div>
      <div class="note-2"><img src="../img/flex-props.JPG" alt=""></div>
    </article>
  </body>
</html>
