<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>01-flex-basics</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body class="u_widauto">
    <!-- header -->
    <section class="header">
      <div>
        <h1 class="header-title">grid layout</h1>
        <p class="header-note">grid layout properties</p>
      </div>
      <a href="../index.html">
        <img class="header-icon" src="../img/arrow-right-circle.svg" alt="" />
      </a>
    </section>
    <!-- first grid -->
    <section class="first-grid">
      <div class="item item-1">01 grey-100</div>
      <div class="item item-2">02 grey-200</div>
      <div class="item item-3">03 grey-300</div>
      <div class="item item-4">04 grey-400</div>
      <div class="item item-5">05 grey-500</div>
      <div class="item item-6">06 grey 600</div>
    </section>

    <!-- grid layout-props -->
    <article class="layout-props">
      <div class="note-1"><img src="../img/disp-grid.JPG" alt="" /></div>
      <div class="note-2"><img src="../img/grid-axis.JPG" alt="" /></div>
      <div class="note-3"><img src="../img/grid-props.JPG" alt="" /></div>
    </article>
  </body>
</html>
