<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>selectors</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body class="u_widauto">
    <!-- header -->
    <section class="header">
      <div>
        <h1 class="header-title">selectors</h1>
        <p class="header-note">css-sass</p>
      </div>
      <a href="../index.html">
        <img class="header-icon" src="../img/arrow-right-circle.svg" alt="" />
      </a>
    </section>

    <!-- _selectors -->
    <section class="selectors">
      <div>
        <h1>& > * {}</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </div>

      <div>
        <h1>& > * {}</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, facilis?
      </div>
    </section>
  </body>
</html>
